<ul style="padding: 0; list-style-type: none;">
<li>
<a href='http://weblog.fredalger.net/tag/factor'>Fred Alger</a>
</li>
<li>
<a href='http://alfredobeaumont.org/blog/'>Alfredo Beaumont</a>
</li>
<li>
<a href='http://fun-factor.blogspot.com/'>Elie Chaftari</a>
</li>
<li>
<a href='http://code-factor.blogspot.com/'>Doug Coleman</a>
</li>
<li>
<a href='http://www.phildawes.net/blog/'>Phil Dawes</a>
</li>
<li>
<a href='http://www.bluishcoder.co.nz/'>Chris Double</a>
</li>
<li>
<a href='http://useless-factor.blogspot.com/'>Daniel Ehrenberg</a>
</li>
<li>
<a href='http://duriansoftware.com/joe/'>Joe Groff</a>
</li>
<li>
<a href='http://jedahu.blogspot.com/'>Jeremy Hughes</a>
</li>
<li>
<a href='http://factor-language.blogspot.com/'>Slava Pestov</a>
</li>
<li>
<a href='http://elasticdog.com/'>Aaron Bull Schaefer</a>
</li>
<li>
<a href='http://www.rfc1149.net/blog/tag/factor/'>Samuel Tardieu</a>
</li>
</ul>
